@charset "utf-8";

/* 
	Title: Style Sheet for preperation page
	Author: Jordan Kelsey
	Date: December 3,2023
	Fielname: learn-print.css
	Purpose: Set style for printing

*/

@page {
    size: 8.5in 11in portait;
	margin: 0.5in;
}

header.top-container {
    width: 100%;
    height: 2in;
    background-color: gray;
}

img#header-bg {
    display: none;
}

nav {
    display: none;
}

p#intro {
    width: 70%;
}

h2#facts-title {
    page-break-before: always;
}

article.info {
    margin: 0.5in auto;
    width: 70%;
}

article.info img {
    display: none;
}

article#netw {
    page-break-before: always;
}

section#contact {
    display: none;
}

footer {
    display: none;
}

table.resources {
    width: 70%;
}

hr#lasthr {
    display: none;
}

a.img-att {
    display: none;
}