@charset "utf-8";

@media print {
    *,
    *::before,
    *::after {
      background: #fff;
      color: #000;

      box-shadow: none;
      text-shadow: none;
    }
    * {
      font-size: 11px;
    }
    img {
      display: none;
    }
    a,
    a:visited {
      display: none;
    }
    pre {
      white-space: pre-wrap;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }